// Page Heading
.row
	.col-lg-12
		h1.page-header
			| Dashboard 
			small Statistics Overview
		ol.breadcrumb
			li.active
				i.fa.fa-dashboard
				|  Dashboard
// /.row
.row
	.col-lg-12
		- console.log( products );
		div(data-toggle='collapse', data-target='#demo')
			| Collapsible
			#demo.collapse
				| Lorem ipsum dolor text....